<html>
<head>
<title>activity_about_triunity.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_about_triunity.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;@color/white&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.AboutTriunity&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/shape_rect&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;UselessParent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;ImageButton</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/back_btn4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;@null&quot;</span>
            <span class="s1">android:paddingStart</span><span class="s2">=&quot;10sp&quot;</span>
            <span class="s1">android:src</span><span class="s2">=&quot;@drawable/ic_back&quot;</span>
            <span class="s1">android:adjustViewBounds</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">tools:ignore</span><span class="s2">=&quot;ContentDescription,RtlSymmetry&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;About Triunity&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/white&quot;</span>
            <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;20sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">tools:ignore</span><span class="s2">=&quot;HardcodedText&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/RelativeLayout&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;100dp&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/Black&quot;</span>
        <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;textStart&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;       Our Goal Is To Make Self-Reliant India (Aatmanirbhar Bharat).The State Of The World Today Teaches Us That A Self-Reliant India (Aatmanirbhar Bharat) is The Only Path To Rebuild and Growth Of The Indian Economy.&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;HardcodedText&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;250dp&quot;</span>
        <span class="s1">android:lineSpacingExtra</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;10dp&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;      Triunity is Aatmanirbhar Bharat App -Support Made in Indian products and to provide a platform to the local peoples to have their talent and their brands reach a larger audience.&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;textStart&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@color/Black&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;HardcodedText&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;ImageView</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;324dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;190dp&quot;</span>
        <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_centerHorizontal</span><span class="s2">=&quot;true&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;35dp&quot;</span>
        <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/crop&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;ContentDescription&quot; </span><span class="s0">/&gt;</span>

<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>